// # SHORT HOWTO
// ## Sprites
//     .whatever
// 			+s(codedby)
// ## gradient example
//     	+g(#232323, #5c5c5c);
//	   horizontal
//     	+gh(#232323, #5c5c5c);
// ## making bw-images
//     img
//			@extend %gray
// ## predefined media-queries: https://github.com/paranoida/sass-mediaqueries
//     +r(320)
//			display: none
// +max-screen(1000), +iphone5, +iphone4, +ipad-retina, +ipad, +hdpi - also available
//
// ## use cycles
//     @for $i from 1 through 3
//       .item-#{$i}
//			width: 2em * $i;
//     @each $s in a,b,c
// 	    	#{$s}
//				display: none
// ## fonts
// Save fonts to /src/fonts
// +font(book, cytiapro-black-webfont)
// and create mixin
// =book
// 	font-family: "book", Arial, sans-serif
@import url(https://fonts.googleapis.com/css?family=PT+Sans&subset=latin,cyrillic)
+font(PFDDbold, pfdindisplayprobold)
+font(PFDDmed, pfdindisplaypromedium)
+font(PFDDreg, pfdindisplayproregular)
+font(PFDDlight, pfdindisplayprolight)

=pfdB
	font-family: "PFDDbold" , sans-serif
=pfdM
	font-family: "PFDDmed" , sans-serif
=pfdR
	font-family: "PFDDreg" , sans-serif
=pfdL
	font-family: "PFDDlight", sans-serif
=PTS
	font-family: "PT Sans", sans-serif

// colors
$green: #007848
$yellow: #ffd800
$white: #fff
$black: #000
$dark-gray: #454545
$gray-bg: #f7f7f7
$footer-bg: #313236
$gray-icon: #cfcfcf
$gray-line: #d1d1d1
$light-gray-line: #d9d9d9
$head-border: #e5e5e5
$gray-select: #dadada
$grey-line-mail: #d0d0d0
$grey-popup: #dcdcdc
$dots: #adadad
$soc: ( ytb: #d24a43, tw: #3dafea, fb: #4357a8)

body
	+pfdR
	font-size: 14px
	line-height: 1

// common blocks
.out
	max-width: 1240px
	min-height: 490px
	overflow: hidden
	position: relative
	margin: auto

a
	text-decoration: none
	color: inherit
