.footer
  width: 100%
  background-color: $footer-bg
  color: $white
  &__wrap
    max-width: 1140px
    padding: 45px 0
    overflow: hidden
    margin: auto
  &__left-col
    width: 20%
    float: left
  &__copy-logo
    width: 20%
    float: right
    padding-top: 30px
    img
      max-width: 140px
      float: right
  &__contacts
    width: 100%
  &__contact-item
    width: 100%
    margin-bottom: 12px
    text-transform: uppercase
    .title
      +pfdM
      font-size: 11px
      line-height: 1.6
      padding: 25px 50px 15px 0
      padding-top: 25px
      padding-bottom: 15px
    p
      +pfdM
      font-size: 9px
      line-height: 1.5
    a
      +pfdL
      font-size: 13px
      text-transform: none
      text-decoration: underline
      &:hover
        color: $green
  &__mail
    width: 100%
    margin-top: 40px
    .icon-mail
      float: left
      vertical-align: middle
      font-size: 28px
      margin-right: 15px
      color: $green

    h4
      +pfdR
      font-size: 16px
      font-weight: normal
      text-transform: uppercase
      line-height: 28px
  &__sign
    position: relative
    width: 100%
    height: 40px
    margin-top: 13px
    border: 1px solid $white
    input
      height: 38px
      width: 80%
      float: left
      padding: 12px
      +pfdL
      font-size: 14px
      color: $white
      background-color: transparent
      &:-moz-placeholder, &::-moz-placeholder
        color: $white
        opacity: 1
      &::-webkit-input-placeholder
        color: $white
    button
      height: 38px
      width: 20%
      position: absolute
      top: 0
      right: 0
      background-color: transparent
      text-align: left
      i
        font-size: 14px
        color: $green
      &:hover
        i
          padding-left: 7px
  &__nav
    float: left
    width: 80%
  &__bottom-row
    float: left
    width: 100%
  &__menu
    float: left
    width: calc(100%/6)
    padding: 10px 20px
  &__menu-item
    width: 100%
    padding-bottom: 50px
    a
      font-size: 15px
      text-transform: uppercase
      &:hover
        color: $green
  &__menu-drop
    width: 100%
  &__drop-item
    width: 100%
    padding-bottom: 25px
    a
      +pfdL
      font-size: 12px
      &:hover
        color: $green
  &__copy
    width: 30%
    float: left
    padding-top: 45px
    +pfdL
    font-size: 12px
  &__socials
    width: 50%
    float: left
  &__soc-item
    float: right
    margin-right: 10px
    position: relative
    i
      width: 49px
      height: 49px
      border-radius: 50%
      border: 1px solid
      font-size: 24px
      line-height: 47px
      text-align: center
  @each $s, $color in $soc
    .icon-#{$s}
      border-color: $white
      color: $white
    .is-#{$s}:hover
      .icon-#{$s}
        background-color: $color
        border-color: $color
      ~ .#{$s}-popup
        display: block
    .#{$s}-popup
      position: absolute
      bottom: 100%
      left: 0
      white-space: nowrap
      background: #fff
      margin-bottom: 13px
      display: none
      &:before
        content: ""
        position: absolute
        top: 100%
        left: 20px
        width: 0px
        height: 0px
        border-style: solid
        border-width: 6px 5.5px 0 5.5px
        border-color: #fff transparent transparent transparent
      span
        display: inline-block
        +pfdM
        white-space: nowrap
        line-height: 40px
        &.#{$s}-title
          padding: 0 13px
          font-size: 15px
          color: #000
        &.#{$s}-amount
          padding: 0 18px
          font-size: 18px
          color: $color
          position: relative
          &:before
            content: ""
            position: absolute
            top: 10px
            bottom: 10px
            left: 0
            background-color: $grey-popup
            width: 1px
