.news
  &__btns
    width: 100%
    overflow: hidden
    padding: 10px 60px
    background-color: $gray-bg
    border-bottom: 1px solid $light-gray-line
    border-right: 1px solid $light-gray-line
  &__select-box
    float: left
    background-color: $white
    padding-right: 8px
    overflow: hidden
    margin-right: 7px
    border-radius: 2px
    border: 1px solid $light-gray-line
  &__select
    float: left
    min-width: 110px
    padding: 8px
    +pfdM
    font-size: 12px
    line-height: 1
    color: $select-txt
    text-transform: uppercase
    border: none
  &__btn-sort
    float: right
    min-width: 150px
    height: 35px
    background-color: $green
    border-radius: 2px
    +pfdB
    font-size: 13px
    color: $white
    text-transform: uppercase
    margin-right: 12px
  &__mounth
    width: 100%
    text-align: center
    padding: 15px 0
    button
      display: inline-block
      padding: 10px 15px
      background-color: $yellow
      +pfdB
      font-size: 13px
      text-transform: uppercase
      color: $dark-gray
  &__container
    width: 100%
    padding: 0 60px
  &__decor
    width: 100%
    text-align: center
    padding: 12px 0
    color: $grey-popup
    font-size: 51px
    line-height: 1
  &__item
    width: 100%
    overflow: hidden
    border: 1px solid $grey-line-mail
    &:hover
      border-color: $yellow
      .news__head
        background-color: $yellow
        border-color: $yellow
        color: $dark-gray
      .news__info
        border-color: $yellow
  &__info
    width: 22%
    overflow: inherit
    float: left
    border-right: 1px solid $grey-line-mail
    text-align: center
  &__head
    display: block
    width: 100%
    padding: 20px 0
    border-bottom: 1px solid $light-gray-line
    background-color: $gray-bg
    +pfdB
    font-size: 12px
    color: $green
    line-height: 1
  &__date
    display: inline-block
    width: 100%
    margin: 20px 0
    color: $black
    +pfdB
    font-size: 16px
    line-height: 1
  &__author
    padding-bottom: 20px
    vertical-align: bottom
    a
      +pfdR
      font-size: 15px
      line-height: 2
    span
      display: inline-block
      width: 100%
      +pfdB
      font-size: 10px
      line-height: 1
      text-transform: uppercase
  &__content
    width: 78%
    float: left
  &__title
    padding: 20px 20px 25px 20px
    +pfdB
    font-size: 16px
    text-transform: uppercase
    line-height: 1.562
  &__text
    padding: 0 20px 20px 20px
    font-size: 15px
    line-height: 1.333
    color: $news-txt
    vertical-align: bottom
  &__link
  &__quote
  &__gallery
