<!-- BEGIN  blog -->
<section class="blog">
  <div class="blog__title">
    <h3>Наш блог</h3>
  </div>
  <div class="blog__item">
    <div class="blog__data">
      <div class="blog__photo" style="background-image: url(img/blog/GapchukM.png)" ></div>
      <p class="blog__author">
        <span>Автор:</span>
        <a href="#">М. Гапчук</a>
      </p>
      <div class="blog__views">
        <a href="#"><i class="icon-eye"></i>&ensp;183</a>
        <a href="#"><i class="icon-comment"></i>&ensp;36</a>
        <a href="#"><i class="icon-like"></i>&ensp;92</a>
      </div>
    </div>
    <a href="#" class="blog__record">
      <time>12 квітня, 2015</time>
      <h5>НАВІТЬ В АВСТРАЛІЇ ДІЄ РОСІЙСЬКА ПРОПАГАНДА, УКРАЇНСЬКИЙ УРЯД МАЄ НА ЦЕ РЕАГУВАТИ –</h5>
      <p>За час Майдану і після Майдану українська громада Австралії забрала понад 200 000 доларів допомоги Україні і передала сюди для реалізації ряду проектів.</p>
    </a>
  </div>
  <div class="blog__item">
    <div class="blog__data">
      <div class="blog__photo" style="background-image: url(img/blog/LogvinA.png)" ></div>
      <p class="blog__author">
        <span>Автор:</span>
        <a href="#">А. Логвін</a>
      </p>
      <div class="blog__views">
        <a href="#"><i class="icon-eye"></i>&ensp;183</a>
        <a href="#"><i class="icon-comment"></i>&ensp;36</a>
        <a href="#"><i class="icon-like"></i>&ensp;92</a>
      </div>
    </div>
    <a href="#" class="blog__record">
      <time>12 квітня, 2015</time>
      <h5>НАВІТЬ В АВСТРАЛІЇ ДІЄ РОСІЙСЬКА ПРОПАГАНДА, УКРАЇНСЬКИЙ УРЯД МАЄ НА ЦЕ РЕАГУВАТИ –</h5>
      <p>За час Майдану і після Майдану українська громада Австралії забрала понад 200 000 доларів допомоги Україні і передала сюди для реалізації ряду проектів.</p>
    </a>
  </div>
  <div class="blog__item">
    <div class="blog__data">
      <div class="blog__photo" style="background-image: url(img/blog/GusovskiyS.png)" ></div>
      <p class="blog__author">
        <span>Автор:</span>
        <a href="#">С. Гусовський</a>
      </p>
      <div class="blog__views">
        <a href="#"><i class="icon-eye"></i>&ensp;183</a>
        <a href="#"><i class="icon-comment"></i>&ensp;36</a>
        <a href="#"><i class="icon-like"></i>&ensp;92</a>
      </div>
    </div>
    <a href="#" class="blog__record">
      <time>12 квітня, 2015</time>
      <h5>НАВІТЬ В АВСТРАЛІЇ ДІЄ РОСІЙСЬКА ПРОПАГАНДА, УКРАЇНСЬКИЙ УРЯД МАЄ НА ЦЕ РЕАГУВАТИ –</h5>
      <p>Проводити такі слухання Володимир Гройсман запропонував у перервах між ранковими та вечірніми засіданнями. Він також заявив, що парламентарі цієї п'ятниці можуть викликати на доповідь представників НКРЕ, міністра соціальної політики, генерального прокурора.</p>
    </a>
  </div>
  <div class="blog__more">
    <button type="button" name="button"><i class="icon-more"></i>Читати більше</button>
  </div>
</section>
<!-- END blog -->
