<!-- BEGIN  blog -->
<section class="blog">
  <div class="blog__item">
    <div class="blog__data">
      <div class="blog__photo"></div>
      <p class="blog__author">
        <span></span>
        <a href="#"></a>
      </p>
      <div class="blog__views">
        <a href="#"><i class="visitor"></i></a>
        <a href="#"><i class="comment"></i></a>
        <a href="#"><i class="like"></i></a>
      </div>
    </div>
    <a href="#" class="blog__record">
      <time></time>
      <h5></h5>
      <p></p>
    </a>
  </div>
  <div class="blog__load">
    <button type="button" name="button"><i class="load"></i></button>
  </div>
</section>
<!-- END blog -->
