<!-- BEGIN  fraction -->
<section class="fraction">
  <h3 class="fraction__title">в єдності - сила!</h3>
  <p class="fraction__subtitle">Наша фракція в КИЇВРАДІ</p>
  <div class="fraction__slick is-fraction">
    <a href="#" class="fraction__item">
      <div class="fraction__img" style="background-image: url(img/fraction/GusovskiyS.png)"></div>
      <div class="fraction__info">
        <h6 class="fraction__name">Сергій Гусовський</h6>
        <p class="fraction__post">власник компанії  &laquo;Ресторани Гусовського&raquo;</p>
        <button type="button" name="button" class="fraction__btn is-hidden">біографія</button>
      </div>
    </a>
    <a href="#" class="fraction__item">
      <div class="fraction__img" style="background-image: url(img/fraction/LogvinA.png)"></div>
      <div class="fraction__info">
        <h6 class="fraction__name">Андрій Логвін</h6>
        <p class="fraction__post">генеральний директор &laquo;ModnaKasta&raquo;</p>
        <button type="button" name="button" class="fraction__btn is-hidden">біографія</button>
      </div>
    </a>
    <a href="#" class="fraction__item">
      <div class="fraction__img" style="background-image: url(img/fraction/GapchukM.png)"></div>
      <div class="fraction__info">
        <h6 class="fraction__name">Максим Гапчук</h6>
        <p class="fraction__post">фінансовий директор &laquo;Страхова компанія „Княжа“&raquo;</p>
        <button type="button" name="button" class="fraction__btn is-hidden">біографія</button>
      </div>
    </a>
    <a href="#" class="fraction__item">
      <div class="fraction__img" style="background-image: url(img/fraction/ShulgaN.png)"></div>
      <div class="fraction__info">
        <h6 class="fraction__name">Наталія Шульга</h6>
        <p class="fraction__post">виконавчий директор &laquo;Український науковий клуб&raquo;</p>
        <button type="button" name="button" class="fraction__btn is-hidden">біографія</button>
      </div>
    </a>
    <a href="#" class="fraction__item">
      <div class="fraction__img" style="background-image: url(img/fraction/AndreykoR.png)"></div>
      <div class="fraction__info">
        <h6 class="fraction__name">Роман Андрейко</h6>
        <p class="fraction__post">генеральний директор &laquo;Телерадіокомпанія „Люкс“&raquo;</p>
        <button type="button" name="button" class="fraction__btn is-hidden">біографія</button>
      </div>
    </a>
  </div>
</section>
<!-- END fraction -->
