<header class="header">
  <div class="header__logo"><h1>Об'єднання «Самопоміч». Київ</h1></div>
  <div class="header__nav">
    <ul class="header__menu">
      <li class="header__menu-item"><a href="#">ПРОГРАМИ</a></li>
      <ul class="header__menu-drop">
        <li class="header__drop-item"><a href="#">Безпечне місто</a></li>
        <li class="header__drop-item"><a href="#">Вільне місто</a></li>
        <li class="header__drop-item"><a href="#">Розумне  місто</a></li>
        <li class="header__drop-item"><a href="#">Зелене місто</a></li>
      </ul>
    </ul>
    <ul class="header__menu">
      <li class="header__menu-item"><a href="#">РЕФОРМИ</a></li>
      <ul class="header__menu-drop">
        <li class="header__drop-item"><a href="#">Е-врядування</a></li>
        <li class="header__drop-item"><a href="#">ЖКГ</a></li>
        <li class="header__drop-item"><a href="#">Анти-корупція</a></li>
        <li class="header__drop-item"><a href="#">Самоврядування</a></li>
        <li class="header__drop-item"><a href="#">Освіта</a></li>
        <li class="header__drop-item"><a href="#">Відкритий бюджет</a></li>
        <li class="header__drop-item"><a href="#">Бізнес</a></li>
      </ul>
    </ul>
    <ul class="header__menu">
      <li class="header__menu-item"><a href="#">ДІЯЛЬНІСТЬ</a></li>
      <ul class="header__menu-drop">
        <li class="header__drop-item"><a href="#">Діяльність</a></li>
        <li class="header__drop-item"><a href="#">Проекти</a></li>
        <li class="header__drop-item"><a href="#">Реформи</a></li>
        <li class="header__drop-item"><a href="#">Депутати</a></li>
        <li class="header__drop-item"><a href="#">Постійні комісії</a></li>
        <li class="header__drop-item"><a href="#">Тимчасові комісії</a></li>
        <li class="header__drop-item"><a href="#">Звернення</a></li>
        <li class="header__drop-item"><a href="#">Запити</a></li>
        <li class="header__drop-item"><a href="#">Проекти рішень</a></li>
        <li class="header__drop-item"><a href="#">Голосування</a></li>
        <li class="header__drop-item"><a href="#">Відповіді</a></li>
      </ul>
    </ul>
    <ul class="header__menu">
      <li class="header__menu-item"><a href="#">НАША Фракція</a></li>
      <ul class="header__menu-drop">
        <li class="header__drop-item"><a href="#">Ми в Київраді</a></li>
        <li class="header__drop-item"><a href="#">Онлайн-трансляція</a></li>
        <li class="header__drop-item"><a href="#">Вибори до Київради</a></li>
        <li class="header__drop-item"><a href="#">Новини</a></li>
        <li class="header__drop-item"><a href="#">Структура Київради</a></li>
        <li class="header__drop-item"><a href="#">Структура КМДА</a></li>
        <li class="header__drop-item"><a href="#">Комунальні підприємства Києва</a></li>
      </ul>
    </ul>
    <ul class="header__menu">
      <li class="header__menu-item"><a href="#">ПРИЙМАЛЬНЯ</a></li>
      <ul class="header__menu-drop">
        <li class="header__drop-item"><a href="#">Онлайн громадська приймальня</a></li>
        <li class="header__drop-item"><a href="#">Громадські приймальні</a></li>
        <li class="header__drop-item"><a href="#">Юридичні консультації</a></li>
        <li class="header__drop-item"><a href="#">Волонтерство</a></li>
        <li class="header__drop-item"><a href="#">Контакти</a></li>
      </ul>
    </ul>
    <ul class="header__menu">
      <li class="header__menu-item"><a href="#">КИЇВ</a></li>
      <ul class="header__menu-drop">
        <li class="header__drop-item"><a href="#">Історія</a></li>
        <li class="header__drop-item"><a href="#">Про Київ</a></li>
        <li class="header__drop-item"><a href="#">Тоp 10 to do!</a></li>
        <li class="header__drop-item"><a href="#">Mobile apps</a></li>
        <li class="header__drop-item"><a href="#">Бюджет</a></li>
        <li class="header__drop-item"><a href="#">Карта</a></li>
        <li class="header__drop-item"><a href="#">Міжнародні зв’язки</a></li>
        <li class="header__drop-item"><a href="#">Корисні телефони</a></li>
      </ul>
    </ul>
  </div>
  <div class="header__buttons">
    <button type="search" name="button" class="header__search"><i class="icon-search"></i></button>
    <button type="button" name="button" class="header__entry">Вхід</button>
    <button type="button" name="button" class="header__support"> ПІДТРИМАТИ</button>
  </div>
</header>
