<!-- BEGIN  news -->
<article class="news">
  <div class="news__btns">
    <form action="#" method="post">
      <div class="news__select-box">
        <select class="news__select" name="activity">
          <option>Вид діяльності</option>
          <option>Е-врядування</option>
          <option>ЖКГ</option>
        </select>
      </div>
      <div class="news__select-box">
        <select class="news__select" name="fact">
          <option>Тип події</option>
          <option>Звернення</option>
          <option>Проекти</option>
          <option>Реформи</option>
        </select>
      </div>
      <div class="news__select-box">
        <select class="news__select" name="date">
          <option>Дата</option>
          <option>червень 2016</option>
          <option>липень 2016</option>
        </select>
      </div>
      <button type="submit" name="sort" class="news__btn-sort">сортувати</button>
    </form>
  </div>
  <div class="news__mounth">
    <button type="button" name="button">Квітень</button>
  </div>
  <div class="news__container">
    <section class="news__item">
      <div class="news__info">
        <h6 class="news__head"><a href="#">ЖКГ</a></h6>
        <p class="news__date">13/04</p>
        <p class="news__author">
          <span>Автор:</span>
          <a href="#">А. Логвін</a>
        </p>
      </div>
      <div class="news__content">
        <h5 class="news__title"><a href="#">В РАДУ ВНЕСЕНО ЗАКОНОПРОЕКТ, В ЯКОМУ ПРОПОНУЄТЬСЯ В'ЯЗНИЦЯ ТИМ, ХТО ВІДКИДАЄ ФАКТ РОСІЙСЬКОЇ АГРЕСІЇ  </a></h5>
        <p class="news__text">У Верховній Раді України зареєстровано законопроект, яким пропо- нується запровадити кримінальну відповідальність за публічне запе- речення факту військової агресії країною, яка визнана агресором.</p>
      </div>
    </section>
    <div class="news__decor">
      <i class="icon-decor"></i>
    </div>
    <section class="news__item">
      <div class="news__info">
        <h6 class="news__head"><a href="#">самоврядування</a></h6>
        <p class="news__date">15/04</p>
        <p class="news__author">
          <span>Автор:</span>
          <a href="#">С. Гусовський</a>
        </p>
      </div>
      <div class="news__content">
        <h5 class="news__title"><a href="#">НА ЦЬОМУ ТИЖНІ У ВР ПЛАНУЮТЬ РОЗГЛЯНУТИ ЗАКОНИ ЩОДО СТАБІЛІЗАЦІЇ ФІНАНСОВОГО СТАНУ "НАФТОГАЗУ" </a></h5>
        <a href="#" class="news__text news__link">http://www.5.ua/polityka/Na-tsomu-tyzhni-u-VR-planuiut-rozghlianuty-zakony-shchodo-stabilizatsii-finansovoho-stanu-Naftohazu--75944.html</a>
      </div>
    </section>
    <div class="news__decor">
      <i class="icon-decor"></i>
    </div>
    <section class="news__item">
      <div class="news__info">
        <h6 class="news__head"><a href="#">Бізнес</a></h6>
        <p class="news__date">18/04</p>
      </div>
      <div class="news__content">
        <h5 class="news__title news__quote">
          <a href="#">Можливість того, що ми можемо програти в бою, не повинна заважати нам битися за справу, яку ми вважаємо справедливою.</a>
          <span>Автор:</span>
          <a href="#" class="quote-name">А. Логвін</a>
        </h5>
      </div>
    </section>
    <div class="news__decor">
      <i class="icon-decor"></i>
    </div>
    <section class="news__item">
      <div class="news__info">
        <h6 class="news__head"><a href="#">Освіта</a></h6>
        <p class="news__date">20/04</p>
        <p class="news__author">
          <span>Автор:</span>
          <a href="#">А. Логвін</a>
        </p>
      </div>
      <div class="news__content">
        <div class="news__gallery">
          <div class="arr-prev"><i class="arr-left"></i></div>
          <div class="arr-next"><i class="arr-right"></i></div>
          <div class="news__gallery-nav">
          </div>
          <a href="#" class="gallery__all-photo"></a>
          <div class="news__gallery-slide">

          </div>
        </div>
      </div>
    </section>
    <div class="news__decor">
      <i class="icon-decor"></i>
    </div>
    <section class="news__item">
      <div class="news__info">
        <h6 class="news__head"><a href="#">E-Врядування</a></h6>
        <p class="news__date">22/04</p>
        <p class="news__author">
          <span>Автор:</span>
          <a href="#">А. Логвін</a>
        </p>
      </div>
      <div class="news__content">
        <div class="news__video-box">
          <video src="videofile.ogg" class="news__video" poster="posterimage.jpg">

          </video>
        </div>
      </div>
    </section>
    <div class="news__decor">
      <i class="icon-decor"></i>
    </div>
    <section class="news__item">
      <div class="news__info">
        <h6 class="news__head"><a href="#">ЖКГ</a></h6>
        <p class="news__date">13/04</p>
        <p class="news__author">
          <span>Автор:</span>
          <a href="#">А. Логвін</a>
        </p>
      </div>
      <div class="news__content">
        <img src="img/news.png" alt="" class="news__img" width="120" height="70">
        <h5 class="news__title"><a href="#">ЄВРОПА СКЛАДЕ ІСПИТ НА ВІРНІСТЬ СВОЇМ ЦІННОСТЯМ </a></h5>
        <p class="news__text">У Верховній Раді України зареєстровано законопроект, яким пропо- нується запровадити кримінальну відповідальність за публічне запе- речення факту військової агресії країною, яка визнана агресором.</p>
      </div>
    </section>
  </div>
  <div class="news__more">
    <button type="button" name="button"><i class="icon-more"></i>Більше подій</button>
  </div>
</article>
<!-- END news -->
