<article class="news">
  <div class="news__btns">
    <select class="news__select" name="activity">
    </select>
    <select class="news__select" name="fact">
    </select>
    <select class="news__select" name="date">
    </select>
    <button type="submit" name="sort" class="news__btn-sort"></button>
  </div>
  <section class="news__item">
    <div class="news__info">
      <h6 class="news__head"><a href="#"></a></h6>
      <p class="news__date"></p>
      <p class="news__author">
        <span></span>
        <a href="#"></a>
      </p>
    </div>
    <div class="news__content">
      <h5 class="news__title"><a href="#"></a></h5>
      <p class="news__text"></p>
    </div>
  </section>
  <section class="news__item">
    <div class="news__info">
      <h6 class="news__head"><a href="#"></a></h6>
      <p class="news__date"></p>
      <p class="news__author">
        <span></span>
        <a href="#"></a>
      </p>
    </div>
    <div class="news__content">
      <h5 class="news__title"><a href="#"></a></h5>
      <a href="#" class="news__link"></a>
    </div>
  </section>
  <section class="news__item">
    <div class="news__info">
      <h6 class="news__head"><a href="#"></a></h6>
      <p class="news__date"></p>
      <p class="news__author">
        <span></span>
        <a href="#"></a>
      </p>
    </div>
    <div class="news__content">
      <h5 class="news__quote"><a href="#"><span></span></a></h5>
    </div>
  </section>
  <section class="news__item">
    <div class="news__info">
      <h6 class="news__head"><a href="#"></a></h6>
      <p class="news__date"></p>
      <p class="news__author">
        <span></span>
        <a href="#"></a>
      </p>
    </div>
    <div class="news__content">
      <div class="news__gallery">
        <div class="arr-prev"><i class="arr-left"></i></div>
        <div class="arr-next"><i class="arr-right"></i></div>
        <div class="news__gallery-nav">
        </div>
        <a href="#" class="gallery__all-photo"></a>
        <div class="news__gallery-slide">

        </div>
      </div>
    </div>
  </section>
  <section class="news__item">
    <div class="news__info">
      <h6 class="news__head"><a href="#"></a></h6>
      <p class="news__date"></p>
      <p class="news__author">
        <span></span>
        <a href="#"></a>
      </p>
    </div>
    <div class="news__content">
      <div class="news__video-box">
        <video src="videofile.ogg" class="news__video" poster="posterimage.jpg">

        </video>
      </div>
    </div>
  </section>
  <section class="news__item">
    <div class="news__info">
      <h6 class="news__head"><a href="#"></a></h6>
      <p class="news__date"></p>
      <p class="news__author">
        <span></span>
        <a href="#"></a>
      </p>
    </div>
    <div class="news__content">
      <img src="#" alt="" class="news__img">
      <h5 class="news__title"><a href="#"></a></h5>
      <p class="news__text"></p>
    </div>
  </section>
  <div class="news__more">  
    <button type="button" name="button" class="news__load"><i class="load"></i></button>
  </div>
</article>
