<aside class="progress">

  <ul>
    <li>
      <a href="#">
        <div>
          <svg>
            <circle r="36" cx="71" cy="71" fill="none" stroke="#ffd700" stroke-width="2">
            <animate attributename="stroke" from="0" to="10" dur="7s"/>
            </circle>
          </svg>
        </div>
        <div>
          <h6></h6>
          <p><span></span><b></b></p>
        </div>
      </a>
    </li>
    <li><a href="#"></a></li>
    <li><a href="#"></a></li>
    <li><a href="#"></a></li>
    <li><a href="#"></a></li>
    <li><a href="#"></a></li>
    <li><a href="#"></a></li>
  </ul>
</aside>
