<!-- BEGIN  sidebar -->
<aside class="progress">
  <ul>
    <li>
      <a href="#">
        <div class="progress__circle">
          <div class="progress__small">
            <svg xmlns="http://www.w3.org/2000/svg">
              <circle  r="5" cx="81" cy="32" fill="#fff" stroke="#ffd700" stroke-width="2"></circle>
            </svg>
          </div>
          <svg xmlns="http://www.w3.org/2000/svg">
            <circle class="path" sweep-flag="0" transform="rotate(-45)"  r="36" cx="0" cy="70%" fill="none" stroke="#ffd700" stroke-width="2"></circle>
          </svg>
        </div>
        <div>
          <h6></h6>
          <p><span></span><b></b></p>
        </div>
      </a>
    </li>
    <li><a href="#"></a></li>
    <li><a href="#"></a></li>
    <li><a href="#"></a></li>
    <li><a href="#"></a></li>
    <li><a href="#"></a></li>
    <li><a href="#"></a></li>
  </ul>

</aside>
<!-- END sidebar -->
