<!-- BEGIN  sidebar -->
<aside class="progress">
  <ul>
    <li class="progress__item is-proc86">
      <a href="#">
        <div class="progress__circle">
          <div class="progress__img">
            <img src="img/sidebar/comp.svg" alt=""/>
          </div>
          <div class="progress__small">
            <svg xmlns="http://www.w3.org/2000/svg">
              <circle r="5" cx="86" cy="37" fill="#fff" stroke="#ffd700" stroke-width="2"></circle>
            </svg>
          </div>
          <!--[if gt IE 9]><!-->
          <svg xmlns="http://www.w3.org/2000/svg">
            <circle class="circle-path" sweep-flag="0" r="36" transform="rotate(-45 150 75)" cx="50%" cy="50%" fill="none" stroke="#ffd700" stroke-width="2"></circle>
          </svg>
          <!-- <![endif]-->
        </div>
        <div class="progress__text">
          <h6>Е-ВРЯДУВАННЯ</h6>
          <p><span class="progress__line">виконано</span></p>
          <span class="progress__proc"></span>
        </div>
      </a>
    </li>
    <li class="progress__item is-proc78">
      <a href="#">
        <div class="progress__circle">
          <div class="progress__img">
            <img src="img/sidebar/tap.svg" alt=""/>
          </div>
          <div class="progress__small">
            <svg xmlns="http://www.w3.org/2000/svg">
              <circle r="5" cx="86" cy="37" fill="#fff" stroke="#ffd700" stroke-width="2"></circle>
            </svg>
          </div>
          <!--[if gt IE 9]><!-->
          <svg xmlns="http://www.w3.org/2000/svg">
            <circle class="circle-path" sweep-flag="0" r="36" transform="rotate(-45 150 75)" cx="50%" cy="50%" fill="none" stroke="#ffd700" stroke-width="2"></circle>
          </svg>
          <!-- <![endif]-->
        </div>
        <div class="progress__text">
          <h6>ЖКГ</h6>
          <p><span class="progress__line">виконано</span></p>
          <span class="progress__proc"></span>
        </div>
      </a>
    </li>
    <li class="progress__item is-proc92">
      <a href="#">
        <div class="progress__circle">
          <div class="progress__img">
            <img src="img/sidebar/manacle.svg" alt=""/>
          </div>
          <div class="progress__small">
            <svg xmlns="http://www.w3.org/2000/svg">
              <circle r="5" cx="86" cy="37" fill="#fff" stroke="#ffd700" stroke-width="2"></circle>
            </svg>
          </div>
          <!--[if gt IE 9]><!-->
          <svg xmlns="http://www.w3.org/2000/svg">
            <circle class="circle-path" sweep-flag="0" r="36" transform="rotate(-45 150 75)" cx="50%" cy="50%" fill="none" stroke="#ffd700" stroke-width="2"></circle>
          </svg>
          <!-- <![endif]-->
        </div>
        <div class="progress__text">
          <h6>АНТИ-КОРУПЦІЯ</h6>
          <p><span class="progress__line">виконано</span></p>
          <span class="progress__proc"></span>
        </div>
      </a>
    </li>
    <li class="progress__item is-proc84">
      <a href="#">
        <div class="progress__circle">
          <div class="progress__img">
            <img src="img/sidebar/people.svg" alt=""/>
          </div>
          <div class="progress__small">
            <svg xmlns="http://www.w3.org/2000/svg">
              <circle r="5" cx="86" cy="37" fill="#fff" stroke="#ffd700" stroke-width="2"></circle>
            </svg>
          </div>
          <!--[if gt IE 9]><!-->
          <svg xmlns="http://www.w3.org/2000/svg">
            <circle class="circle-path" sweep-flag="0" r="36" transform="rotate(-45 150 75)" cx="50%" cy="50%" fill="none" stroke="#ffd700" stroke-width="2"></circle>
          </svg>
          <!-- <![endif]-->
        </div>
        <div class="progress__text">
          <h6>САМОВРЯДУВАННЯ</h6>
          <p><span class="progress__line">виконано</span></p>
          <span class="progress__proc"></span>
        </div>
      </a>
    </li>
    <li class="progress__item is-proc57">
      <a href="#">
        <div class="progress__circle">
          <div class="progress__img">
            <img src="img/sidebar/educ.svg" alt=""/>
          </div>
          <div class="progress__small">
            <svg xmlns="http://www.w3.org/2000/svg">
              <circle r="5" cx="86" cy="37" fill="#fff" stroke="#ffd700" stroke-width="2"></circle>
            </svg>
          </div>
          <!--[if gt IE 9]><!-->
          <svg xmlns="http://www.w3.org/2000/svg">
            <circle class="circle-path" sweep-flag="0" r="36" transform="rotate(-45 150 75)" cx="50%" cy="50%" fill="none" stroke="#ffd700" stroke-width="2"></circle>
          </svg>
          <!-- <![endif]-->
        </div>
        <div class="progress__text">
          <h6>ОСВІТА</h6>
          <p><span class="progress__line">виконано</span></p>
          <span class="progress__proc"></span>
        </div>
      </a>
    </li>
    <li class="progress__item is-proc36">
      <a href="#">
        <div class="progress__circle">
          <div class="progress__img">
            <img src="img/sidebar/file.svg" alt=""/>
          </div>
          <div class="progress__small">
            <svg xmlns="http://www.w3.org/2000/svg">
              <circle r="5" cx="86" cy="37" fill="#fff" stroke="#ffd700" stroke-width="2"></circle>
            </svg>
          </div>
          <!--[if gt IE 9]><!-->
          <svg xmlns="http://www.w3.org/2000/svg">
            <circle class="circle-path" sweep-flag="0" r="36" transform="rotate(-45 150 75)" cx="50%" cy="50%" fill="none" stroke="#ffd700" stroke-width="2"></circle>
          </svg>
          <!-- <![endif]-->
        </div>
        <div class="progress__text">
          <h6>ВІДКРИТИЙ БЮДЖЕТ</h6>
          <p><span class="progress__line">виконано</span></p>
          <span class="progress__proc"></span>
        </div>
      </a>
    </li>
    <li class="progress__item is-proc63">
      <a href="#">
        <div class="progress__circle">
          <div class="progress__img">
            <img src="img/sidebar/hands.svg" alt=""/>
          </div>
          <div class="progress__small">
            <svg xmlns="http://www.w3.org/2000/svg">
              <circle r="5" cx="86" cy="37" fill="#fff" stroke="#ffd700" stroke-width="2"></circle>
            </svg>
          </div>
          <!--[if gt IE 9]><!-->
          <svg xmlns="http://www.w3.org/2000/svg">
            <circle class="circle-path" sweep-flag="0" r="36" transform="rotate(-45 150 75)" cx="50%" cy="50%" fill="none" stroke="#ffd700" stroke-width="2"></circle>
          </svg>
          <!-- <![endif]-->
        </div>
        <div class="progress__text">
          <h6>БІЗНЕС</h6>
          <p>
            <span class="progress__line">виконано</span>
          </p>
          <span class="progress__proc"></span>
        </div>
      </a>
    </li>
  </ul>

</aside>
<!-- END sidebar -->
